Source: pygobject
Section: python
Priority: optional
Maintainer: Josselin Mouette <joss@debian.org>
Uploaders: Debian GNOME Maintainers <pkg-gnome-maintainers@lists.alioth.debian.org>, Andrew Lau <netsnipe@users.sourceforge.net>, Clément Stenac <zorglub@debian.org>, Dafydd Harries <daf@debian.org>, Guilherme de S. Pastore <gpastore@debian.org>, Gustavo Franco <stratus@debian.org>, Gustavo Noronha Silva <kov@debian.org>, J.H.M. Dassen (Ray) <jdassen@debian.org>, Jordi Mallach <jordi@debian.org>, Jose Carlos Garcia Sogo <jsogo@debian.org>, Kilian Krause <kilian@debian.org>, Loic Minier <lool@dooz.org>, Marc 'HE' Brockschmidt <he@debian.org>, Marco Cabizza <marco87@gmail.com>, Oystein Gisnas <oystein@gisnas.net>, Ondřej Surý <ondrej@debian.org>, Ross Burton <ross@debian.org>, Sebastien Bacher <seb128@debian.org>, Sjoerd Simons <sjoerd@debian.org>
Build-Depends: debhelper (>= 5), python-support (>= 0.4), gnome-pkg-tools (>= 0.10), cdbs, python-all-dev, libglib2.0-dev (>= 2.8.0), xsltproc, docbook-xsl, autotools-dev
Standards-Version: 3.7.2

Package: python-gobject
Architecture: any
Depends: ${python:Depends}, ${shlibs:Depends}, ${misc:Depends}
Provides: ${python:Provides}
Conflicts: python-gtk2 (<< 2.10)
Description: Python bindings for the GObject library
 GObject is an abstraction layer that allows to program with an object 
 paradigm that is compatible with many languages. It is a part of Glib, 
 the core library used to build GTK+ and GNOME.
 .
 This package contains the python bindings for GObject. It is mostly 
 used by other bindings to map their GObjects to python objects.

Package: python-gobject-dev
Architecture: all
Depends: ${python:Depends}, python-gobject (>= ${Source-Version}), python-dev
Conflicts: python-gtk2-dev (<< 2.10)
Recommends: docbook-xsl
Description: Development headers for the GObject python bindings
 GObject is an abstraction layer that allows to program with an object
 paradigm that is compatible with many languages. It is a part of Glib,
 the core library used to build GTK+ and GNOME.
 .
 This package contains the development headers needed to build 
 other python bindings relying on pygobject.
