Source: pygobject
Section: python
Priority: optional
Maintainer: Josselin Mouette <joss@debian.org>
Uploaders: Debian GNOME Maintainers <pkg-gnome-maintainers@lists.alioth.debian.org>, Loic Minier <lool@dooz.org>
Build-Depends: debhelper (>= 5),
               python-support (>= 0.4),
               gnome-pkg-tools (>= 0.10),
               cdbs,
               python-all-dev (>= 2.3.5),
               libglib2.0-dev (>= 2.8.0),
               libffi-dev,
               xsltproc,
               docbook-xsl,
               autotools-dev
Build-Conflicts: python2.3-dev (<< 2.3.5)
XS-Python-Version: >= 2.3
Standards-Version: 3.7.2

Package: python-gobject
Architecture: any
Depends: ${python:Depends},
         ${shlibs:Depends},
         ${misc:Depends}
Provides: ${python:Provides}
XB-Python-Version: ${python:Versions}
Conflicts: python-gtk2 (<< 2.10)
Description: Python bindings for the GObject library
 GObject is an abstraction layer that allows to program with an object
 paradigm that is compatible with many languages. It is a part of Glib,
 the core library used to build GTK+ and GNOME.
 .
 This package contains the python bindings for GObject. It is mostly
 used by other bindings to map their GObjects to python objects.

Package: python-gobject-dev
Architecture: all
Depends: ${python:Depends},
         ${misc:Depends},
         python-gobject (>= ${source:Version}),
         python-dev,
         libglib2.0-dev (>= 2.8.0),
         libffi-dev
Conflicts: python-gtk2-dev (<< 2.10)
Recommends: docbook-xsl
Description: Development headers for the GObject python bindings
 GObject is an abstraction layer that allows to program with an object
 paradigm that is compatible with many languages. It is a part of Glib,
 the core library used to build GTK+ and GNOME.
 .
 This package contains the development headers needed to build
 other python bindings relying on pygobject.
